.movies {
    top: 275px;
    position: absolute;
    display: flex;
}

.movies-popular-title {
    color: #fcf7f7;
    margin: 0 2rem;
    top: -50px;
    position: absolute;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.movie-poster {
    margin: 0 1rem;
    border-radius: 20px 20px 0 0;
}