.searchbar {
    width: 100%;
    top: 200px;
    position: absolute;
}
.searchbar-input {
    width: 95%;
    margin: 0 2rem;
    padding: 0.5rem;
    top: -50px;
    position: absolute;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}